body,html {
  font-family:Oswald;
  height:100%;
  font-size:2vw;
  margin-left:5px;
  margin-right:5px;
  margin-top:0px;
  margin-bottom:0px;
}

body {
  display:flex;
  flex-direction:column;
}

hr {
  clear:both;
  color: gray; 
  border-style: inset; 
  border-width: 1px; 
  margin-left: 0;
  margin-right: 0;
}

#top {
  margin-top:10px;
  flex: 1 1;
  display:flex;
}

#middle{
  display:flex;
  flex-direction:column;
  flex:2 2;
}
#bottom {
  margin-bottom:10px;
    flex: 1 1;
}

#usernamecontainer {
   align-self : flex-end;
}

#userimagecontainer {
  background-image : url("images/user.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  flex: 1 1;
}

.taskcontainer {
  border-radius:5px;
  display:flex;
  align-items:center;
  border:2px solid black;
  position:relative;
  flex:1;
}

.tasktext {
    color: black; 
    opacity:0.6;
    flex:2;
    padding:20px;
    z-index:2;
}

.taskcontainerprioritytext {
}

.taskcontainerpercentagetext {
  text-align:center;
}

.taskcontainercounttext {
    text-align:right;
}

.taskcontainerpercentag {
  height:100%;
  position:absolute;
  width:50%;
}

#hightasks > .taskcontainer > .taskcontainerpercentag {
  background-color:#F44336;
}

#mediumtasks > .taskcontainer > .taskcontainerpercentag {
  background-color:#03A9F4;
}

#lowtasks > .taskcontainer > .taskcontainerpercentag {
  background-color:#4CAF50;
}

.tasksslide {
  display:flex;
  flex-direction:column;
  flex:1;
  margin-bottom:10px;
  margin-top:10px;
  -webkit-box-shadow:  5px 5px 2px 0px rgba(0,0,0,0.50);
  -moz-box-shadow:  5px 5px 2px 0px rgba(0,0,0,0.50);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.50);
}
